.d-flex {
    display: flex;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.flex-column {
    flex-direction: column !important;
}

.flex-100 {
    flex: 0 0 100%;
    max-width: 100%;
}

.mx-1 {
    margin-right: .25rem !important;
    margin-left: .25rem !important;
}

.mr-1 {
    margin-right: .25rem !important;
}

.ml-1 {
    margin-left: .25rem !important;
}

.mb-1 {
    margin-bottom: .25rem !important;
}

.mt-1 {
    margin-top: .25rem !important;
}

.mx-2 {
    margin-right: .5rem !important;
    margin-left: .5rem !important;
}

.mr-2 {
    margin-right: .5rem !important;
}

.ml-2 {
    margin-left: .5rem !important;
}

.mb-2 {
    margin-bottom: .5rem !important;
}

.mt-2 {
    margin-top: .5rem !important;
}

.mx-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

.mr-3 {
    margin-right: 1rem !important;
}

.ml-3 {
    margin-left: 1rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.mt-5 {
    margin-top: 2rem !important;
}

.mt-6 {
    margin-top: 3rem !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.mx-0 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

.mx-n1 {
    margin-right: -.25rem !important;
    margin-left: -.25rem !important;
}

.mx-n2 {
    margin-right: -.5rem !important;
    margin-left: -.5rem !important;
}

.mx-n3 {
    margin-right: -1rem !important;
    margin-left: -1rem !important;
}

.mt-high {
    margin-top: 30px !important;
}

.mb-high {
    margin-bottom: 30px !important;
}

.px-1 {
    padding-right: .25rem !important;
    padding-left: .25rem !important;
}

.pr-1 {
    padding-right: .25rem !important;
}

.pl-1 {
    padding-left: .25rem !important;
}

.pb-1 {
    padding-bottom: .25rem !important;
}

.pt-1 {
    padding-top: .25rem !important;
}

.px-2 {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}

.pr-2 {
    padding-right: .5rem !important;
}

.pl-2 {
    padding-left: .5rem !important;
}

.pb-2 {
    padding-bottom: .5rem !important;
}

.pt-2 {
    padding-top: .5rem !important;
}

.px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.pr-3 {
    padding-right: 1rem !important;
}

.pl-3 {
    padding-left: 1rem !important;
}

.pb-3 {
    padding-bottom: 1rem !important;
}

.pt-3 {
    padding-top: 1rem !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.px-0 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.logo_preview {
    max-width: 40px;
    min-width: 40px;
}

.thumbnail_preview {
    max-width: 260px;
    min-width: 260px;
}

.fs-10 {
    font-size: 10px !important;
}

.fs-10 {
    font-size: 10px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-23 {
    font-size: 23px !important;
}

.fs-30 {
    font-size: 30px !important;
}

.fw-bold {
    font-weight: 600 !important;
}

.fw-normal {
    font-weight: normal !important;
}

.w-100 {
    width: 100% !important;
}

.w-50 {
    width: 50% !important;
}

.w-75 {
    width: 75% !important;
}

.w-auto {
    width: auto !important;
}

.label-balanced {
    width: 120px;
}

.form-wrapper {
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
}

.form-wrapper:last-of-type {
    border-bottom: 0 !important;
}

.btn-delete {
    border: 1px solid #ff3322;
    border-radius: 4px;
    padding: 4px 8px;
    display: inline-block !important;
    width: auto !important;
    cursor: pointer;
    color: #ff3322;
    font-size: 14px;
}

.radius-100 {
    border-radius: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.dir-ltr {
    direction: ltr !important;
}

.dir-rtl {
    direction: rtl !important;
}

.nav {
    background-color: #d9e0e6;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600 !important;
}

.nav-item {
    padding: 14px;
    border-right: 1px solid #cad0d6;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.nav-item:hover,
.nav-item.active {
    background-color: #ced4da;
}

.nav-item:first-of-type {
    border-right: 0 !important;
}

.tab-content .tab-pane {
    display: block;
}

.tab-content {
    position: relative;
}

.tab-content .fade.active {
    opacity: 1;
    visibility: visible;
}

.tab-content .fade:not(.active) {
    opacity: 0;
    visibility: hidden;
}

.tab-content .fade {
    transition: opacity .3s linear, visibility .3s linear;
    position: absolute;
    width: 100%;
}

.form-field-box {
    padding: 10px;
    background-color: #d4e9e7;
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 6px;
}

.text-red {
    color: #dd3d36;
}

.text-green {
    color: #1ca800;
}

.button-green {
    color: #1ca800 !important;
    border-color: #1ca800 !important;
}

.button-red {
    color: #dd3d36 !important;
    border-color: #dd3d36 !important;
}

.button-orange {
    color: #ffa812 !important;
    border-color: #ffa812 !important;
}

.input-sm {
    width: 80px !important;
}

.wp-editor-area {
    direction: ltr !important;
}

input[type="date"] {
    direction: ltr;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.font-dashicon {
    font-family: dashicons;
}

.lh-1_6 {
    line-height: 1.6 !important;
}

.min-w-240 {
    min-width: 240px;
}

.border-0{
    border: 0!important;
}

.border-b-0{
    border-bottom: 0!important;
}

.border-t-0{
    border-top: 0!important;
}
table.vertical-middle td,
table.vertical-middle th
{
    vertical-align: middle!important;
}